.scale-factor-board{
  display: flex;
  justify-content:space-evenly;
  padding: 10px;
}
input{
  border-style: none;
  
}
table{
   width: 100%;
}
td{
 padding-right: 4px; 
 padding-left: 4px;  
}
td input{
  width: 100%;

}
#root{
  height:100%;
}
.App{
  height: 100%;
}
.main-board{
  height: 100%;
}
.ingredients-board{
  background: #fff6f6;
  padding: 0 5px;
  min-height: 90%;
}

.scale-factor-board-div
{
  background: white;
  height: 10%;
}
.scale-factor-board-div form
{
  margin: auto 0;
  height: 10%;
  
}
.scale-factor-board-div form input
{
  width: 40px;
  border-bottom-style: groove;
  font-size: large;
  text-align: center;
  
}

button{
  margin: auto 0;
  height: 20px;
  background-color: #ffe2e2;

}

@media only screen and (max-width: 600px)
{
  .scale-factor-board-div
{
  background: #ffe2e2;
  
}
.scale-factor-board-div form input
{
  background-color: #ffe2e2;
  
}
button{
  margin: auto 0; 
  height: 20px;
  background-color: #fff6f6;

}

}
